body {
    padding: 0;
    margin: 0;
    background-color: rgb(249, 239, 237);
    font-family:'open sans';
    color: #2D351A;
    
}

.container{
    width:80%;
    margin: 20px auto;
    overflow:hidden;
    color: #2D351A;

}

ul{
    margin:0;
    padding:0;
    color: #2D351A;
}

header{
    padding-top:30px;
    min-height:70px;
    color: #2D351A;

}

a {
    text-decoration: none;
    font-size: 16px;
    color: #2D351A;

}

header a{
    text-decoration: none;
    color: #2D351A;

}

.navBar {
    overflow: hidden;
    width:80%;
    margin:auto;
    color: #2D351A;

}
  
.navBar a {
    float: left;
    display: block;
    text-align: center;
    padding: 17px 30px 14px 20px;
    text-decoration: none;
    color: #2D351A;

}

.navBar a:first-child {
    padding: 7px 40px 14px 0px;
    font-size: 25px;
    color: #2D351A;

}

.contactLink {
    margin-right: 20px;
    color: #2D351A;

}

.foodQuiz{
    width: 250px;
    color: #2D351A;

}

.navBar .icon {
    display: none;
    color: #2D351A;

}

@media screen and (max-width: 600px) {
    .navBar a:not(:first-child) {display: none;}
    .navBar a.icon {
        float: right;
        display: block;
        color: #2D351A;

    }
}
  
@media screen and (max-width: 600px) {
    .navBar.responsive {position: relative;}
    .navBar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #2D351A;

    }
    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: #2D351A;

    }
}
